# Assignment2 Jerry Zhao

## HW Questions (Numpy):
### 1. Define two custom numpy arrays, say A and B. Generate two new numpy arrays by stacking A and B vertically and horizontally.

In [1]:
import numpy as np

A = np.array([6,7,8])
B = np.array([7,8,9])


# Stack vertically
vertical_stack = np.vstack((A, B))

# Stack horizontally
horizontal_stack = np.hstack((A, B))

print(A)
print(B)
print(vertical_stack)
print(horizontal_stack)

[6 7 8]
[7 8 9]
[[6 7 8]
 [7 8 9]]
[6 7 8 7 8 9]

### 2.Find common elements between A and B. [Hint: Intersection of two sets]

In [2]:
common_elements = np.intersect1d(A,B)
print(common_elements)

[7 8]

### 3.Extract all numbers from A which are within a specific range. eg between 5 and 10. [Hint: np.where() might be useful or boolean masks]

In [3]:
filtered = A[(A >= 7) & (A <= 10)]
print("Numbers between 7 and 10:", filtered)

Numbers between 7 and 10: [7 8]

### 4. Filter the rows of iris_2d that has petallength (3rd column) > 1.5 and sepallength (1st column) < 5.0

```
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
```

In [4]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
filtered_rows = iris_2d[(iris_2d[:, 2] > 1.5) & (iris_2d[:, 0] < 5.0)]

print("Filtered rows:\n", filtered_rows)

Filtered rows:
 [[4.8 3.4 1.6 0.2]
 [4.8 3.4 1.9 0.2]
 [4.7 3.2 1.6 0.2]
 [4.8 3.1 1.6 0.2]
 [4.9 2.4 3.3 1. ]
 [4.9 2.5 4.5 1.7]]

## HW Questions (Pandas):

### 1. From df filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).


```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [5]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
outcome = df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]
print(outcome)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

### 2. Replace missing values in Min.Price and Max.Price columns with their respective mean.
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df['Min.Price'].fillna(df['Min.Price'].mean(), inplace=True)
df['Max.Price'].fillna(df['Max.Price'].mean(), inplace=True)

print(df[['Min.Price', 'Max.Price']].head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

### 3. How to get the rows of a dataframe with row sum > 100?
```
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
```

In [7]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

result = df[df.sum(axis=1) > 100]

print("Original DataFrame:\n", df)
print("\nRows with row sum > 100:\n", result)

Original DataFrame:
      0   1   2   3
0   15  23  12  33
1   18  30  32  38
2   20  21  18  37
3   19  18  36  39
4   28  10  15  12
5   11  19  39  10
6   26  22  26  15
7   37  16  13  19
8   10  11  15  29
9   32  36  18  13
10  33  27  32  27
11  23  30  12  14
12  17  24  13  22
13  15  25  21  12
14  24  20  10  14

Rows with row sum > 100:
      0   1   2   3
1   18  30  32  38
3   19  18  36  39
10  33  27  32  27